body {
  font-family: "Merriweather", serif;
  margin: 25px 65px 0;
}

.btn_primary {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  background: #f00;
  padding: 10px 15px;
  border: none;
}

/* header starts */

.header {
  background-image: url("../images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.header::after {
  border-radius: 5px;
  position: absolute;
  content: "";
  top: 0%;
  height: 100%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#070211+6,070211+71&1+6,0.5+67 */
  background: linear-gradient(
    to bottom,
    rgba(7, 2, 17, 1) 6%,
    rgba(7, 2, 17, 0.5) 67%,
    rgba(7, 2, 17, 0.5) 71%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: -1;
}

.header_content {
  position: absolute;
  text-align: center;
  margin: 120px 0;  
}

#header_title {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
 
}

#header_sub_title {
  margin-top: 40px;
  color: #fff;
  font-size: 85px;
  font-weight: 900;
  line-height: 105px;
}

/* header ends */

/* off_banner starts */

.off_banner {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.off_banner_content {
  font-family: Inter;
}

#off_banner_title {
  color: #f00;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
}

#off_banner_sub_title1 {
  margin-top: 25px;
  color: #f00;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

#off_banner_sub_title2 {
  margin-top: 20px;
  color: #070211;
  font-size: 28px;
  font-weight: 700;
}

.off_banner img {
  max-height: 550px;
  max-width: 550px;
  margin: 20px 0 50px;
}

/* off_banner ends */

/* mid_night party section starts */

.mid_night_party {
  background-image: url("../images/Vectorrr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.mid_night_party::after {
  position: absolute;
  content: "";
  border-radius: 5px;
  top: 0%;
  height: 100%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#070211+6,070211+71&1+6,0.5+67 */
  background: linear-gradient(
    to right,
    rgba(7, 2, 17, 1) 6%,
    rgba(7, 2, 17, 0.5) 67%,
    rgba(7, 2, 17, 0.5) 71%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  z-index: -1;
}

.mid_night {
  position: absolute;
  display: flex;
  gap: 40px;
  margin: 50px 100px 50px 100px;
}
.mid_night_party_content {
}

.mid_night_party_content h2 {
  color: #fff;

  font-size: 50px;

  font-weight: 900;
  line-height: 80px;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.mid_night_party_content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.mid_night_logo {
  padding-top: 25px;
}

.mid_night_logo img {
}

/* mid_night party section ends */

.timing {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0000+0,ff0000+100&0.11+12,0+100 */
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.11) 0%,
    rgba(255, 0, 0, 0.11) 12%,
    rgba(255, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  margin: 80px 0;
  padding: 60px 0;
  border-radius: 5px;
}

.timetable {
  color: #070211;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0px;
}

.timetable span {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0px;
}

.coming_soon {
  display: flex;
  gap: 60px;
  width: 100%;
}
.offer {
  width: 100%;
}

.offer h6 {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
}

.offer h2 {
  color: #070211;
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
  text-transform: capitalize;
}

.offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.offer_img {
  border: 11px solid #f00;
  border-radius: 100%;
  padding: 25px;
  width: 100%;
}

.offer_2024 {
  width: 100%;
}

.offer_title h2 {
  color: #f00;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
}

.offer_title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.gallery {
  margin: 80px 0;
}

.gallery_heading {
  width: 70%;
}

.gallery_heading h6 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 0;
}

.gallery_heading h3 {
  color: #070211;
  font-size: 25px;

  font-weight: 900;

  text-transform: capitalize;
  line-height: 15px;
}

.gallery_heading p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 40px;
}

.gallery_pic {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
  width: 100%;
}

.gallery_imgs img {
  width: 100%;
}

.gallery_imgs {
  position: relative;
  border-radius: 10px;
}

.gallery_imgs::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  height: 0%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#070211+6,070211+71&1+6,0.5+67 */
  background: linear-gradient(
    to right,
    rgba(7, 2, 17, 1) 6%,
    rgba(7, 2, 17, 0.5) 67%,
    rgba(7, 2, 17, 0.5) 71%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  transition: 0.6s all ease-in-out;
  opacity: 0.8;
}

.gallery_imgs:hover::after {
  border-radius: 10px;
  height: 99%;
}

.subscription {
  text-align: center;
  margin: 10px 0 80px;
  padding: 80px 0;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.05);
}

.subscription_icon h1 {
  color: #070211;
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
}

.subscription_icon p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

.subscription_item {
  display: flex;
  justify-content: center;
}

.subscription_item input {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 35px;
  border: none;
  border-radius: 40px 0 0 40px;
}

.subscription_item button {
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  padding: 16px 35px;
  border-radius: 0 40px 40px 0;
}

footer {
  background: #070211;
}

.footer_title {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 100px 100px 60px 100px;
  width: 70%;
}

.footertitle1 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.footertitle2 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.footer_icon {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
.footer_icon img {
  margin-right: 10px;
}

.footer_footer {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 40px;
}

.footer_footer p {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}
